extends layout

block customHead
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNX5aM74zCy6SG09EVj_glEJNi0vBYGno&callback=initMap" type="text/javascript")
    style #map { width: 100%; height: 400px; background-color: grey;}

block content
    h1 Here is your result: 
    each resto in selection
        p 
          a(href='/restaurant/'+resto.id) #{resto.name}
    p
    div(id="map")
    script.
      function initMap() {
        var customerAddress = {lat: #{cooAddress.latitude}, lng: #{cooAddress.longitude}};
        var restaurant = {lat: #{cooClosest.latitude}, lng: #{cooClosest.longitude}};
        var labelOne = 'A';
        var labelTwo = 'B';
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: customerAddress
        });
        var marker = new google.maps.Marker({
          position: customerAddress,
          map: map,
          label: labelOne,
          title: "Your position"
        });
        var markerSecond = new google.maps.Marker({
          position: restaurant,
          map: map,
          label: labelTwo,
          title: "Closest restaurant"
        });
        var bounds = new google.maps.LatLngBounds();
        bounds.extend(restaurant);
        bounds.extend(customerAddress);
        map.fitBounds(bounds);
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCNX5aM74zCy6SG09EVj_glEJNi0vBYGno&callback=initMap")