extends restaurant

block primary     
    if participants.length
        table
            thead
                td Name
                td Neighborhood
            each participant in participants
                tr
                    td #{participant.name}
                    td #{participant.neighborhood} 

        pre= JSON.stringify(participants, null, 2)
    else
        p We are still recruiting restaurants. Contact us if you would like to be part of BathroAm! 
    script.
        console.log(!{JSON.stringify(participants)})


//- figure out what all this means
//- is it ok to put if restaurant.status with no else?
//- i think i actually just want to pushrestau that do participate instead of findall.


//- extends layout

//- block content
//-     if restaurants.length
//-         p Participating restaurants:
//-         table
//-             thead
//-                 td Name
//-                 td Neighborhood
//-             each restaurant in restaurants
//-                 if restaurant.status
//-                     tr
//-                         td #{restaurant.name}
//-                         td #{restaurant.neighborhood} 

//-         pre= JSON.stringify(restaurants, null, 2)
//-     else
//-         p We are still recruiting restaurants. Contact us if you are interested! 
//-     script.
//-         console.log(!{JSON.stringify(restaurants)})














//- THIS ONE works well
//- extends layout

//- block content
//-     if participants.length
//-         h1 Participating restaurants:
//-         table
//-             thead
//-                 td Name
//-                 td Neighborhood
//-             each participant in participants
//-                 tr
//-                     td #{participant.name}
//-                     td #{participant.neighborhood} 

//-         pre= JSON.stringify(participants, null, 2)
//-     else
//-         p We are still recruiting restaurants. Contact us if you would like to be part of BathroAm! 
//-     script.
//-         console.log(!{JSON.stringify(participants)})
