extends layout

block content
    if restaurant.status 
        h1 #{restaurant.name}
        table(class="table")
            thead(class="thead-dark")
                tr
                    th(scope="col") Neighborhood
                    th(scope="col") Opening Hours
                    th(scope="col") Address
            tbody
                tr
                    td #{restaurant.neighborhood}
                    td
                        each line in open
                            li= line
                    td #{restaurant.address}
        a(href=restaurant.website,target="_blank") Website 
    else
        h1 This restaurant is not part of the BathroAm network.
    script.
        console.log(!{JSON.stringify(restaurant)})