extends restaurant

block primary
    p 
        strong CHARLOTTENBURG
    each resto in charlottenburg
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}

    p 
        strong FRIEDRICHSHAIN
    each resto in friedrichshain
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}
        
    p 
        strong KREUZBERG
    each resto in kreuzberg
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}

    p 
        strong MITTE
    each resto in mitte
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}
    
    p 
        strong MOABIT
    each resto in moabit
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}

    p 
        strong NEUKOLLN
    each resto in neukolln
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}
    
    p 
        strong PRENZLAUER BERG
    each resto in prenzlauerBerg
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}
    
    p <strong>SCHONEBERG</strong>
    each resto in schoneberg
        ul
            a(href='/restaurant/'+resto.id) #{resto.name}
